<nav>
  <ul class="main-nav">
    <% @section['pages'].each do |page_hash| %>
      <% if child_pages? page_hash %>
        <li class="nav-parent">
            <a href="#">
              <%= page_hash['name'] %>
            </a>
            <ul class="sub-menu">
              <% page_hash['pages'].each do |subpage_hash| %>
                <li>
                  <a href="/<%= @section['path'] %>/<%= page_hash['path'] %>/<%= subpage_hash['path'] %>">
                   <%= subpage_hash['name'] %>
                  </a>
                </li>
              <% end %>
            </ul>
        </li>
      <% else %>
        <li>
          <a href="<%= page_path page_hash %>"><%= page_hash['name'] %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
