<!doctype html>
<html lang="en-US">
  <head>
    <title>Tyler Guillen is a <%= JOBS[@role] %>.</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lora:400,400i:f">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <%= yield_content :custom_styles %>
  </head>
  <body>
    <div id="wrap" class="clearfix">
      <header class="clearfix">
        <h1>
          <span class="name">Tyler Guillen</span>
          <span class="italic">is a</span>
          <span class="job"><%= JOBS[@role] %>.</span>
        </h1>
        <nav>
          <ul>
            <% self.send("#{@role}_links").each do |path, text| %>
              <li>
                <a href="<%= path %>"><%= text %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </header>
      <main class="clearfix">
        <%= yield %>
      </main>
    </div>
    <footer>
      <nav>
        <ul>
          <% JOBS.each do |role, text| %>
            <li>
              <a href="/<%= role.to_s %>">
                <%= text %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </footer>
  </body>
</html>
