<!doctype html>
<html lang="en-US">
  <head>
    <title>Tyler Guillen is a <%= SITEMAP[@role]["name"] %>.</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lora:400,400i/EB+Garamond:400,400i:f">
    <link rel="stylesheet" type="text/css" href="/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/application.js"></script>
    <%= yield_content :custom_styles_and_scripts %>
  </head>
  <body>
    <div id="wrap" class="clearfix">
      <header class="clearfix">
        <h1>
          <a href="<%= "/#{@role}" %>">
            <span class="name">Tyler Guillen</span>
            <span class="italic">is a</span>
            <span class="job"><%= SITEMAP[@role]["name"] %>.</span>
          </a>
        </h1>
        <nav>
          <ul>
            <% SITEMAP[@role]["pages"].each do |page_hash| %>
              <li>
                <a href="<%= page_path page_hash %>"><%= page_hash['name'] %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </header>
      <main class="clearfix">
        <%= yield %>
      </main>
    </div>
    <footer>
      <nav>
        <ul>
          <% SITEMAP.each do |role, hash| %>
            <li>
              <a href="/<%= role %>">
                <%= hash["name"] %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </footer>
  </body>
</html>
