<!doctype html>
<html lang="en-US">
  <head>
    <title>
      <% if @page %>
        <%= @page['name'] %> |
      <% end %>
      Tyler Guillen is a <%= @section['name'] %>
    </title>
    <meta name="description" content="<%= @section['description'] %>">
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lora:400,400i/EB+Garamond:400,400i:f">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <%= yield_content :custom_styles_and_scripts %>
  </head>
  <body>
    <div id="wrap" class="clearfix">
      <header class="clearfix">
        <%= erb :_heading %>
        <%= erb :_nav %>
      </header>
      <main class="clearfix">
        <%= yield %>
      </main>
    </div>
    <footer>
      <%= erb :_bottom_nav %>
    </footer>
  </body>
</html>
