= content_for :additional_stylesheets do
  = stylesheet_link_tag 'application', '//brick.a.ssl.fastly.net/Aleo:300,400,700'

%main.front
  .centered-vert.centered-horiz.centered-optically
    %h1.centered-vert Tyler Guillen

    %nav
      %ul.navbar
        %li.active Home
        %li= link_to 'Web Development', page_path('webdev')
        %li= link_to 'Photography', page_path('photography')
        %li= link_to 'Contact', page_path('contact')

  .lower-content
    %p I'm Tyler Guillen. I'm a web developer and a photographer based in Washington, DC. I studied philosophy in college, and I own a dog.
