= content_for :additional_stylesheets do
  = stylesheet_link_tag 'application', '//brick.a.ssl.fastly.net/Aleo:300,400,700'

%main.front
  .centered-vert.centered-horiz.centered-optically
    %h1.centered-vert Tyler Guillen

    %nav
      %ul.navbar
        %li= link_to 'Home', root_path
        %li= link_to 'Web Development', page_path('webdev')
        %li.active Photography
        %li= link_to 'Contact', page_path('contact')
