!!! 5
%html
  %head
    %title Tyler Guillen
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :additional_stylesheets
  %body
    %main.front
      = render 'shared/header', active_page: params[:id]
      .lower-content
        = yield
